.faq-section .frst-bg {
  background-image: url("./img/slider-2.jpg");
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 2rem !important; */

}
.faq-section .about-H {
  color: black !important;
  font-family: "Poppins", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 6px 5px 10px rgb(0 0 0 / 30%) !important;
}

.faq-section .Qspan {
  font-size: 2rem;
  margin-right: 0.2em;
  line-height: 38px;
  font-weight: 500;
}
