.bg-img {
  background-image: url("./imgs/bg-gallery.jpg");
  height: 55vh;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-H {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 6px 5px 10px rgb(0 0 0 / 30%);
}
.quot {
  color: #d7211e;
  font-size: 27px;
  font-weight: 900;
}

.secnd-H {
  text-align: center;
  line-height: 2;
  color: #151515;
  font-family: "Poppins", Sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2.6px;
}

.frst-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", Sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid;
}

.frst-ul li {
  cursor: pointer;
  outline: none;
}
.frst-ul li:hover {
  color: #d7211e;
  border-bottom-color: #d7211e;
}
.card-img img {
  max-height: 44rem;
  max-width: 55rem;
  object-fit: contain;
  border: 2px solid red;
}

.marg {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bg-img2 {
  background-image: url("./imgs/bg-gallery.jpg");
  height: 100vh !important;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-style {
  margin: 0px 10px 0px 10px;
  padding: 30px 20px 30px 20px;
  background-color: transparent !important;



  background-image: linear-gradient(
    180deg,
    #ffffff 14%,
    rgba(255, 255, 255, 0) 100%
  );
}
